<div class="wrap"><H3>
 From here you can configure your different motion GALLERIES, create new or delete existing ones. Above each gallery is the code to insert in your posts.</H3><ul><li><a href="http://www.pluginswp.com/">Download more wordpress plugins</a></li><li><a href="http://www.pluginswp.com/ultimate-full-video-gallery/">Download youtube/flv video gallery plugin</a></li><li><a href="http://www.pluginswp.com/matrix-gallery/">Download 3D image gallery plugin</a></li></ul><br/>
	<form method="post" action="">
	  <input name="crear" type="hidden" id="crear" value="1">
     <input type='submit' name='' value='Create New motion image gallery' />
    </form>
</div>
<hr>
